.link {
        stroke: #777;
        stroke-width: 2px;
}
.viz {
    float:left;
    width: 70%;
}   
.info {
    float:left;
    width: 30%;
    font-family: 'Verdana';
}    

.button {
    background-color: #e74c3c;
    border: none;
    color: white;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}